html, body {
  overflow-x: hidden;
}

body {
  background: #363636;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}


.card-calculator {
  height: auto;
  width: 100%;
  max-width: 380px;
  background: #464444;
  border-radius: 60px;
  padding: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}


h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: clamp(24px, 5vw, 32px);
  margin-bottom: 10px;
}

/* Display */
.display {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.display input {
  width: 100%;
  height: 100px;
  line-height: normal;
  font-size: clamp(30px, 6vw, 40px);
  padding: 0 20px;
  text-align: right;
  border: none;
  border-radius: 40px;
  background: #222831;
  color: #00ffd5;
  box-sizing: border-box;
}

/* Button grid layout */
.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

/* Buttons */
.button {
  aspect-ratio: 1 / 1;
  width: 100%;
  font-size: clamp(20px, 4.5vw, 30px);
  background-color: #393E46;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.operator {
  background-color: #f0a029;
}

.func {
  background-color: #6d6d6d;
}

/* Responsive tweaks */
@media (max-width: 400px) {
  .display input {
    height: 80px;
    font-size: 28px;
  }

  .button {
    font-size: 18px;
  }
}
